.padding-y {
    padding: 0 25rpx 0;
}
//搜索框
.search {
    display: flex;
    position: relative;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    padding: 0 15rpx;
    border: 1rpx solid #e3e3e3;
    border-radius: 10rpx;
    background: #fff;
    color: darkGray;
    > text {
        font-size: 19px;
        color: rgba(133, 133, 133, .5);
    }

    > input {
        flex: 1;
        height: 70rpx;
        padding-left: 10rpx;
        line-height: 1;
    }
    > button {
        padding: 0 10rpx;
        font-size: 15px;
        line-height: 1.7    ;
    }
}
//最近访问
.nearest{
    .nearest-top{
        $strip_wd: 30;
        text-align: center;
        >text{
            color: grey;
            display: inline-block;
            position: relative;
        }

    }
}
.card-box{
    .card-list{
        width: 100%;
        height: 370rpx;
        float: left;
        margin-bottom: 36rpx;
        // 取消收藏
        .cancel-collection {
            position: absolute;
            width: 100rpx;
            height: 40rpx;
            padding: 0;
            font-size: 11px;
            text-align: center;
            line-height: 1.9;
            z-index: 20;
        }
        .cancel-collection-0 {
            bottom: 0;
            right: 0;
        }
        .cancel-collection-1 {
            bottom: 0;
            left: 0;
        }
        .cancel-collection-2 {
            bottom: 0;
            left: 0;
        }
        .cancel-collection-3 {
            bottom: 0;
            right: 0;
        }

    }

}
.padding-top {
    padding-top: 26rpx
}