$bgurl: '../../images/';
$spacepublic: rpx(25);
$rootspace: rpx(130);
$radius: rpx(10);
$bigfont: 1.4em;
$border: rpx(1);
$cardht: rpx(370);
$midfont: $bigfont*.8;
$transition-base: all .2s ease-in-out !default;
$smallfoot: $bigfont*.6;

$space_1: $rootspace *.2;
