
radio-group {
    width: 100%;
}

.card-template {
    display: flex;
    margin-bottom: 26rpx;
    .radio {
        padding-right: 10rpx;
    }
	.list-box {
		display: flex;
        align-items: center;
		margin-bottom: 10rpx;
	}
}