@import "../../../common/publicscss/scss/link";
//制作名片按钮
.makecard {
    position: fixed;
    //background: url('/static/images/img/card.png');
    @include boderradius(50%);
    width: 70px;
    height: 70px;
    border: solid 4px var(--blueLight);
    z-index: 30;
    right: 50px;
    color: $white;
    bottom: 15%;

    > image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        @include boderradius(50%);
        background: #ffc800;
    }

    > text {
        width: 60%;
        @include center(center, -50%, -50%);
        font-size: 15px;
        text-align: center;
    }
}