.recommend {
    position: relative;
    background: #fff;
    .rec-list {
        display: flex;
        flex-wrap: wrap;
        > view {
            width: 213rpx;
            margin: 0 27rpx 27rpx 0;
            position: relative;
            &:nth-child(3n) {
                margin-right: 0;
            }
            .close {
                display: none;
                position: absolute;
                width: 40rpx;
                height: 40rpx;
                right: 3px;
                top: 3px;
                border-radius: 50%;
                background: #fff;
                color: #000;
                font-size: 16px;
                font-weight: bold;
                text-align: center;
                line-height: 1.3;
                z-index: 30;

            }
            .select-mask{
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.76);
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                z-index: 10;
                display: none;
            }
            &.on {
                .select-mask{
                    display: block;
                }
                .close {
                    display: block;
                }
            }

            .recommend-img {
                height: 140rpx;
                overflow: hidden;
            }

            .recommend-txt {
                height: 40rpx;
                margin-top: rpx(7);
                text-align: center;
                white-space: nowrap;
                text-overflow: ellipsis;
                -o-text-overflow: ellipsis;
                overflow: hidden;
            }

            &:last-child {
                background: rgba(133, 133, 133, .3);
                height: 132rpx;
                font-size: 68.5px;
                line-height: 1;
                text-align: center;
            }
        }
    }
}
.pd-left-right {
    padding: 0 31rpx;
}
.padding-top {
    padding-top: 26rpx;
}
