.text-center {
    text-align: center;
}
.img-auto {
    display: block;
    width: 100%;
}
//首页头部
.index-top {
    height: 100rpx;
    position: relative;

    .top-content {
        position: absolute;
        top: 0;
        z-index: 10;
        width: 100%;
        left: 0;
        right: 0;
        padding-left: 15px;
        padding-top: 80rpx;
        color: #fff;
        font-size: 14px;
        text-align: left;
    }
}

.txt-left {
    text-align: left;
    padding-left: 15px;
}

//底部
.obj-foot {
    display: flex;
    position: fixed;
    border-top: 1rpx solid #ccc;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 24rpx 24rpx 35rpx 24rpx;
    background: #fff;

    > button {
        flex: 1;
        display: inherit;
        position: relative;
        border-radius: 5px;
        &:first-child {
            margin-right: 7px;
        }
        &:last-child {
            margin-left: 7px;
        }
        > view:nth-child(1) {
            margin-left: 20rpx;
            font-size: 20px;
        }
        > view:nth-child(2) {
            flex: 1;
        }
    }
}

.is-show-top {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60rpx;
    text-align: center;
    transition: all 10s ease-in-out;
    > .is-show-top-box {
        display: inline-block;
    }
    .down {
        display: block;
    }
    .up {
        display: none;
    }

    &.on {
        .down {
            display: none;
        }

        .up {
            display: block;
        }
    }
}

.card-details {
    background: #fff;
    padding: 25rpx;
    border-right: 4px;
    > text {
        display: block;
        line-height: 1.7;
    }
}

//分享名片
.card-share {
    display: flex;
    padding-top: 26rpx;
    > button {
        flex: 1;
        padding: 5px;
        border-radius: 5px;
        line-height: 1.8;
        &:first-child {
            margin-right: 7px;
        }
        &:last-child {
            margin-left: 7px;
        }
    }
}

//浏览次数
.browse-count {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 26rpx;
    border-radius: 10rpx;
    margin-top: 26rpx;
    background: #fff;
    .browse-count-left {
        padding-right: 30rpx;
        text-align: center;
        .browse-count-text {
            padding-bottom: 5rpx;
            color: rgba(133, 133, 133, .5);
        }
        .browse-count-number {
            text-align: center;
        }
    }
    .browse-count-right {
        flex: 1;
        position: relative;
        .vertical-md {
            .lg {
                width: 65rpx;
                height: 65rpx;
                &:first-child {
                    position: relative;
                    background: gray;
                    padding-left: 20rpx;
                    margin-left: -20rpx;
                    line-height: 1.5;
                    > text {
                        display: inline-block;
                        position: relative;
                        width: 7rpx;
                        height: 7rpx;
                        border-radius: 50%;
                        background: #fff;
                        margin-left: -8rpx;
                        &:before, &:after {
                            content: "";
                            position: absolute;
                            width: 7rpx;
                            height: 7rpx;
                            background: #fff;
                            border-radius: 50%;
                        }
                        &:before {
                            left: 10rpx;
                        }
                        &:after {
                            right: 10rpx;
                        }
                    }
                }
            }
            .cu-avatar-group {
                display: flex;
                direction: inherit;
                .avatar-info {
                    width: 50rpx;
                    height: 50rpx;
                    margin-left: 5rpx;
                    image {
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                    }
                }
                .show-browse-ellipsis {
                    background: #ccc;
                    border-radius: 50%;
                    font-size: 18px;
                    color: #fff;
                    line-height: 1.5;
                    text-align: center;
                    order: -1;
                }
            }
        }
    }

}

//模块
.Module {
    padding-top: 26rpx;
    .Module-title {
        font-size: 16px;
        padding-bottom: 26rpx;
        font-weight: bold;
    }

    .Module-content {
        padding: 26rpx;
        background: #fff;
        border-right: 10rpx;
    }
}

.btn-wd {
    width: 50%;
    margin: 0 auto;
}

.information-list {
    padding-bottom: rpx(35);
}

.house-source {
    display: flex;
    .house-source-left {
        flex: 1;
    }

    .house-source-right {
        display: flex;
        align-items: center;
        .house-price {
            color: orange;
            text-align: center;
        }
    }
}
.padding-top {
    padding-top: 26rpx;
}
.padding-right-left {
    padding: 0 26rpx;
}
.padding-top-bottom {
    padding: 26rpx 0;
}
.block {
    display: block;
}
.padding {
    padding: 26rpx;
}
.space-1 {
    padding-bottom: 5rpx;
}