@import '../../../../colorui/main.css';
@import "../../../../colorui/icon.css";
/*@import "../../../static/foots/iconfont.css";*/
.margin-top {
    margin: 0 auto;
}
/*
.text-center button{
    align-self: center;
}*/
.cu-form-group {
    justify-content: center;
}