.cardlist {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 26rpx;
    width: 100%;
    > view {
        width: 210rpx;
        height: 120rpx;
        padding-bottom: 21rpx;
        text-align: center;
        > view {
            > text {
                color: $uni-color-primary;
                font-size: 24px;
            }
        }
    }
}
.radius-box {
    background: #fff;
    border-radius: 10rpx;
    margin-top: 26rpx;
    box-shadow: 0 1px 10px 0 rgba(133, 133, 133,0.1) !important;
}