//模态窗口
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1110;
  opacity: 0;
  outline: 0;
  text-align: center;
  -ms-transform: scale(1.185);
  transform: scale(1.185);
  backface-visibility: hidden;
  perspective: rpx(2000);
  background: rgba(0, 0, 0, 0.6);
  transition: all 0.3s ease-in-out 0s;
  pointer-events: none;
}

.modal::before {
  content: "\200B";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.modal.show {
  opacity: 1;
  transition-duration: 0.3s;
  -ms-transform: scale(1);
  transform: scale(1);
  overflow-x: hidden;
  overflow-y: auto;
  pointer-events: auto;
}

.dialog {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  width: rpx(680);
  max-width: 100%;
  background-color: #f8f8f8;
  border-radius: rpx(10);
  overflow: hidden;

  .modal-top {
    padding: $space_1*.7;
    border-bottom: $border solid $bordercl;
    position: relative;
    font-size: $midfont;

     >i {
      @include center(centerY, -65%);
      right: rpx(5);
      font-size: $bigfont*1;
      color: rgba($gray,.7);
    }
  }

  .modal-middle {
    min-height: rpx(150);
    text-align: left;
  }

  .modal-middle, .modal-foot {
    padding: $space_1*.7;
  }
}
